{
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "arrowParens": "always"
}
