.cbg-primary {
  background-color: #212529;
}

.cbg-secondary {
  background-color: #495057;
}

.cbg-tertiary {
  background-color: #415a77;
}

/* .cbg-primary {
  background-color: #4f4e48;
}

.cbg-secondary {
  background-color: #75746e;
}

.cbg-tertiary {
  background-color: #797060;
} */

.after\:bg-primary::after {
  --tw-bg-opacity: 0.4 !important;
}

.circle-svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 66%;
}
